<h1>Followed Users</h1>
<table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <th><%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" %></th>
        <th><%= user.name %></th>
        <th><%= "フォロー数: #{@user.follower.count}" %></th>
        <th><%= "フォロワー数: #{@user.followed.count}" %></th>
        <th><%= link_to "Show", user_path(user[:id]) %></th>
      </tr>
      <% end %>
    </tbody>
  </table>